@charset "utf-8";
/*全局样式*/
body {
  margin: 0 auto;
  font: normal normal normal 12px/150% Verdana;
  color: #333;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
/* 字体设置 */
a,
span,
em,
li,
dd,
dt,
h4,
h5,
h6 {
  font: normal normal normal 1em/150% Verdana;
}
h1,
h2 {
  font: normal normal bold 1.2em/150% Verdana;
}
h3 {
  font: normal normal bold 1em/150% Verdana;
}
h4 {
  font: normal normal normal 1em/150% Verdana;
}
/* 其它 */
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}
